*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
    list-style: none;

}

#navbar{
    display: flex;
    justify-content: flex-end;
}

#navbar ul li {
    color: #333;
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#navbar ul li a {
    color: #333;
    text-decoration: none;

}

/* hide nested ul by default */

#navbar ul li ul{
    display: none;
}
#navbar ul li:hover{
    cursor: pointer;
    background-color: coral;
    color: #fff;
}

#navbar ul li a:hover{
    color: #fff;
}

/* nested dropdown show */

#navbar ul li:hover ul{
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
  
}

#navbar ul li:hover ul li{
    display: block;
    background-color: #e7e7e7;
}

#navbar ul li:hover ul li a{
    color: #333;
}

#navbar ul li:hover ul li:hover{
    background-color: #e0e0e0;
    color:inherit;
}

/* showcase */

#showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    background-color: coral;
}

#showcase h1{
    color: #fff;
    font-size: 4rem;
}

@media(max-width:600px) {

    #navbar{
         justify-content: flex-start;
    } 
    #navbar ul li{
        display: block;
    }

    #navbar ul li:hover ul{
        width: 100%;
        position: relative;
    }
}